<div [hidden]="submitted">
    <h1>Tempalte-driven form</h1>
    <form class="form" (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <label class="form__label" for="name">Name</label><br>
            <input type="text" class="form__field" id="name" 
            [(ngModel)]="model.name" name="name" #name="ngModel" 
            required minlength="1" appForbiddenName="bob"><br>
        </div>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
            <span *ngIf="name.errors.required">Name is required.</span>
            <span *ngIf="name.errors.minlength">Name must be at least 1 characters long.</span>
            <span *ngIf="name.errors.forbiddenName">Name cannot be Bob.</span>
        </div>
        
        <div class="form-group">
            <label class="form__label" for="alterEgo">Alter Ego</label>
            <input class="form__field" type="text" id="alterEgo" 
            [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>
        
        <div class="form-group">
            <label class="form__label" for="power">Hero Power</label>
            <select class="form__field" id="power" [(ngModel)]="model.power" name="power" required>
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
        </div>
        <button type="button" class="form__button form__button--hero" (click)="newHero(); heroForm.reset()">Add new hero</button><br>
        <button class="form__button" type="submit" [disabled]="!heroForm.form.valid">Submit</button>
    
    </form>
</div>

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
